@charset "utf-8";

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden;
    color: rgb(29, 29, 31);
    letter-spacing: -0.05em;
    background: white;
}

p {
    line-height: 1.6;
}

a {
    color: rgb(29, 29, 31);
    text-decoration: none;
}

.container {
    background-color: #FAFAFA;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortening-section {
    width: 500px;
    height: 100%;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 3px;
    align-items: center;
}

.shortening-content {
    align-items: center;
    height: 100%;
}

.shortening-title-content {
    padding: 20px;
    position: relative;
    text-align: center;
    font-size: 50px;
}

.shortening-title {
    display: block;
    text-align: center;
}

.shortening-title-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.shortening-origin-input-field {
    padding: 20px 73px 5px 30px;
}

.shortening-encoding-input-field {
    padding: 5px 73px 5px 30px;
}

.shortening-origin-input {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border: 1px solid #ddd;
}

.shortening-encoding-input {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border: 1px solid #ddd;
}

.shortening-button-field {
    margin-bottom: 20px;
    padding: 0 30px;
    text-align: center;
}

.shortening-button {
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 100%;
    background-color: #CEF6F5;
    font-weight: bold;
    color: black;
}

@media (min-width: 1024px) {
    .shortening-content {
        display: block;
        align-items: normal;
    }

    .shortening-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shortening-title-img {
        width: 70px;
        height: 70px;
        top: 15px;
        margin: 0;
    }

    .shortening-title-content {
        font-size: 50px;
    }
}